<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Stuff:</strong>
    <%= recipe.stuff %>
  </p>

  <p>
    <strong>Prepare mode:</strong>
    <%= recipe.prepare_mode %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= recipe.calories %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= recipe.duration %>
  </p>

</div>
