<div id="<%= dom_id recipe %>">
  <p>
    <strong>Nome:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Ingredientes:</strong>
    <%= recipe.stuff %>
  </p>

  <p>
    <strong>Modo de Preparo:</strong>
    <%= recipe.prepare_mode %>
  </p>

  <p>
    <strong>Calorias:</strong>
    <%= recipe.calories %>
  </p>

  <p>
    <strong>Tempo de Preparo:</strong>
    <%= recipe.duration.strftime("%H:%M") %>
  </p>

</div>
