<p style="color: green"><%= notice %></p>

<%= image_tag "logo_final.png", alt: "CookNow", width: 200 %>

<h1>Recipes</h1>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
